/*   Start Global Rules  */
*{
    padding:0px;
    margin:0px;
}
.container{
    padding-right:15px;
    padding-bottom:15px;
    margin-left:auto;
    margin-right:auto;
}
ul{
    list-style:none;
}
body{
    background-color:#0A0C1B;
}
/*   End  Global Rules  */
/*  Start Header  */
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.all-states{
    display: flex;
    justify-content: center;
}
@media(max-width:767px){
    .all-states{
        display: grid;
    }
}
.all-states .contents {
    background-color: #1C1938;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:330px;

}

@media(max-width:991px){
    .all-states .contents{
        padding-top:0px;
        padding-bottom:10px;
        border-bottom-left-radius:0px;
    }
}
@media(max-width:767px){
    .all-states .contents{
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        grid-area: content;
    }
}
.all-states .contents h1{
    font-size: 27px;
    line-height: 1.5;
    padding-top: 15px;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
}
.all-states .contents .text {
    padding-top: 23px;
    padding-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1.8;
}
.all-states .contents .text p{
    color: #fffafa66;
}
.all-states .contents  h1 span {
    color:#634188;

}
.all-states .contents .states{
    display: flex;
    justify-content: space-between;
}
@media(max-width:767px){
    .all-states .contents .states{
        display: block;
        padding-top:1px !important;
    }
}
.all-states .contents .states .company{
    font-size:bold;
}
.all-states .contents .states .company span{
    font-weight:bold;
    color:#fff;
}
.all-states .contents .states .company p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fffafa66;
}
.all-states .contents  .template span{
    font-weight:bold;
    color:#fff;
}
.all-states .contents  .template p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fffafa66;
}
.all-states .contents  .flow span{
    font-weight:bold;
    color:#fff;
}
.all-states .contents  .flow p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #fffafa66;
}

img{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px; 
    position: relative;
    width:540px;
    height: 400px;
}
.overflow::before{
    position: absolute;
    content: "";
    width: 56%;
    height: 96.5%;
    background-color: #6c1f998c;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media(max-width:767px){
    .overflow::before{
        width: 96.5%;
        height:48%;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px;
    
    }
}
@media(max-width:767px){
 img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px !important;
}
/*  End Header */
/*  Start Queries  */
@media(min-width:768px){
    .container{
        max-width:720px;
    }
}
@media(min-width:992px){
    .container{
        max-width:960px;
    }
}
@media(min-width:1440px){
    .container{
        max-width:1400;
    }
}
}
/*  End  Queries  */